greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-CuBottom.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-CuTop.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-EdgeCuts.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-MaskBottom.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-MaskTop.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-NPTH-drl_map.pdf
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-NPTH.drl
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-PTH-drl_map.pdf
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-PTH.drl
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-SilkBottom.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/gerber/greybadge_pcb-SilkTop.gbr
greymechaarmy_v2/hardware/greybadge_pcb/jlcpcb/production_files/GERBER-greybadge_pcb.zip
