LOCATE COMP "clk_ext" SITE "A7";
IOBUF PORT  "clk_ext" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "C3";
IOBUF PORT  "led[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[1]" SITE "D3";
IOBUF PORT  "led[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[2]" SITE "C4";
IOBUF PORT  "led[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[3]" SITE "D4";
IOBUF PORT  "led[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[4]" SITE "C5";
IOBUF PORT  "led[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[5]" SITE "D5";
IOBUF PORT  "led[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[6]" SITE "C6";
IOBUF PORT  "led[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[7]" SITE "D6";
IOBUF PORT  "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "btn[0]" SITE "B4";
IOBUF PORT  "btn[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[1]" SITE "A5";
IOBUF PORT  "btn[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[2]" SITE "B5";
IOBUF PORT  "btn[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[3]" SITE "A6";
IOBUF PORT  "btn[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[4]" SITE "B6";
IOBUF PORT  "btn[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "rp_to_fpga[0]" SITE "A15";
IOBUF PORT  "rp_to_fpga[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "rp_to_fpga[1]" SITE "B15";
IOBUF PORT  "rp_to_fpga[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "fpga_to_rp[0]" SITE "B16";
IOBUF PORT  "fpga_to_rp[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_rp[1]" SITE "C15";
IOBUF PORT  "fpga_to_rp[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "fpga_to_rp[2]" SITE "C16";
IOBUF PORT  "fpga_to_rp[2]" IO_TYPE=LVCMOS25;
