LOCATE COMP "clk_ext" SITE "A7";
IOBUF PORT  "clk_ext" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "C3";
IOBUF PORT  "led[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[1]" SITE "D3";
IOBUF PORT  "led[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[2]" SITE "C4";
IOBUF PORT  "led[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[3]" SITE "D4";
IOBUF PORT  "led[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[4]" SITE "C5";
IOBUF PORT  "led[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[5]" SITE "D5";
IOBUF PORT  "led[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[6]" SITE "C6";
IOBUF PORT  "led[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "led[7]" SITE "D6";
IOBUF PORT  "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "btn[0]" SITE "B4";
IOBUF PORT  "btn[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[1]" SITE "A5";
IOBUF PORT  "btn[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[2]" SITE "B5";
IOBUF PORT  "btn[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[3]" SITE "A6";
IOBUF PORT  "btn[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[4]" SITE "B6";
IOBUF PORT  "btn[4]" IO_TYPE=LVCMOS25;


LOCATE COMP "address[0]" SITE "A15";
IOBUF PORT  "address[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "address[1]" SITE "B15";
IOBUF PORT  "address[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "address[2]" SITE "B16";
IOBUF PORT  "address[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "address[3]" SITE "C15";
IOBUF PORT  "address[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "address[4]" SITE "C16";
IOBUF PORT  "address[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "pmod_j2[0]" SITE "A14";
IOBUF PORT  "pmod_j2[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[1]" SITE "A13";
IOBUF PORT  "pmod_j2[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[2]" SITE "A12";
IOBUF PORT  "pmod_j2[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[3]" SITE "A11";
IOBUF PORT  "pmod_j2[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[4]" SITE "B14";
IOBUF PORT  "pmod_j2[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[5]" SITE "B13";
IOBUF PORT  "pmod_j2[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[6]" SITE "B12";
IOBUF PORT  "pmod_j2[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "pmod_j2[7]" SITE "B11";
IOBUF PORT  "pmod_j2[7]" IO_TYPE=LVCMOS25;

